<h1 class="fs-5 text-secondary text-uppercase">Goods in cart</h1>
<div *ngIf="cartProductsList; else noGoods">
  <ol class="list-group list-group-numbered">
    <li
      class="list-group-item d-flex justify-content-between align-items-start"
      *ngFor="let product of cartProductsList; index as i; trackBy: identify; let odd = odd;"
      [class.odd]="odd"
    >
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{ product.name }}</div>
        <div class="text-secondary">{{ product.description }}</div>
      </div>
      <span class="badge bg-primary rounded-pill"></span>
    </li>
  </ol>
</div>
<ng-template #noGoods>
  <p>The cart is empty.</p>
</ng-template>
